fastapi
uvicorn

langgraph
langchain
langchain-google-genai

google-generativeai

sqlalchemy
psycopg2-binary

kubernetes

prometheus-api-client

httpx
requests

pydantic
pydantic-settings

python-dotenv

pytest

alembic